.movies-card {
    max-height: 134px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F9F9F9;
    margin: 0 0 40px 0;
}

.movies-card__title {
    margin: 22px 0 13px 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.movies-card__duration {
    margin: 0 0 30px 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #A0A0A0;
}

.movies-card__like {
    margin: 0 0 22px 22px;
    background-image: url('../../images/like_off.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 14px;
    height: 14px;
    outline: none;
    border: 0;
    cursor: pointer;
}

.movies-card__like_on {
    background-image: url('../../images/like_on.svg');
}

.movies-card__like_off {
    background-image: url('../../images/like_off.svg');
}

.movies-card__dell {
    margin: 0 0 22px 22px;
    background-image: url('../../images/dell_card.svg');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    outline: none;
    border: 0;
    cursor: pointer;
}

.movies-car__picture {
    width: 220px;
    height: 120px;
}


@media screen and (max-width: 470px) {
    
    .movies-card {
        max-height: 500px;
        display: flex;
        flex-direction: column-reverse;
    }

    .movies-car__picture {
        width: 300px;
        height: 168px;
        align-self: center;
    }

    .movies-card__description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .movies-card__title {
        margin: 14px 0 8px 12px;
        font-size: 12px;
        line-height: 15px;
    }

    .movies-card__duration {
        margin: 0 0 14px 12px;
        font-size: 11px;
        line-height: 13px;
    }

    .movies-card__like {
        margin: 16px 16px 0 auto;
    }
    
    .movies-card__dell{
        margin: 16px 16px 0 auto;
    }
}